<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Simplex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container">
        {% for it in iterations %}
        <h2>Iteration: {{it.iteration}}</h2>
            <table class="table table-striped table-sm">
                <tr>
                    <td rowspan="2"><b>CBi</b></td><td><b>Cj</b></td>
                    {% for ce in it.objective-coeffecient-row %}
                      <td>{{ce}}</td>
                    {% endfor %}
                    <td rowspan="2"><b>Solution</b></td><td rowspan="2"><b>Ratio</b></td>
                </tr>
                <tr>
                    <td><b>Basic Variable</b></td>
                    {% for bv in it.basic-variable-row %}
                    <td>{{bv}}</td>
                    {% endfor %}
                </tr>
                {% for tr in it.tableaux-rows %}
                <tr>
                    <td>{{tr.cbi}}</td>
                    <td>{{tr.active-variable}}</td>
                    {% for cc in tr.constraint-coefficients %}
                      <td>{{cc}}</td>
                    {% endfor %}
                    <td>{{tr.solution}}</td>
                    <td>{{tr.ratio}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>Zj</b></td>
                    {% for zj in it.Zj-row %}
                      <td>{{zj}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="2"><b>Cj - Zj</b></td>
                    {% for cj in it.Cj-Zj %}
                      <td>{{cj}}</td>
                    {% endfor %}
                </tr>
            </table>
        <h4>Key Data</h4>
        <table class="table table-striped table-sm">
            <tr><td><b>Key Column Index</b></td><td>{{it.key-column-index}}</td></tr>
            <tr><td><b>Key Element</b></td><td>{{it.key-element}}</td></tr>
            <tr><td><b>Key Ratio Index</b></td><td>{{it.key-ratio-index}}</td></tr>
            <tr><td><b>Key Row Index</b></td><td>{{it.key-row-index}}</td></tr>
            <tr><td><b>Entering Variable</b></td><td>{{it.entering-variable}}</td></tr>
            <tr><td><b>Exiting Variable</b></td><td>{{it.exiting-variable}}</td></tr>
        </table>
        <hr/>
        {% endfor %}
    </div>
</body>
</html>